/* source and stuff */
@import url("https://raw.githack.com/sneexy-boi/CutTheTheme/main/src/source.css");

/* colors */
:root {
    --background-primary: #050505;
    --background-color: #050505;
    --background-secondary: #050505;
    --background-secondary-alt: #050505;
    --background-tertiary: #050505;
    --background-accent: #A23448;
    --background-floating: #050505;
    --background-accent-1: #050505;
    --background-accent-3: #050505;
    --background-floating-2: #050505;
    --toast-background: #050505;
    --toast-header: #050505;
    --toast-contents: #050505;
    --toast-border: #050505;
    --text-link: #00FF37;
    --background-modifier-hover: #1a1a1a;
    --background-modifier-active: #252525;
    --background-modifier-selected: #363636;
    --background-modifier-accent: #141414;
    --channeltextarea-background: #050505;
    --activity-card-background: #050505;
    --deprecated-panel-background: #050505;
    --deprecated-card-bg: #050505;
    --deprecated-card-editable-bg: #050505;
    --deprecated-store-bg: #050505;
    --deprecated-quickswitcher-input-background: #050505;
    --deprecated-quickswitcher-input-placeholder: #050505;
    --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
    --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}