@import url("https://raw.githubusercontent.com/sneexy-boi/CutTheTheme/main/src/source.css");

/* colors */
:root {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00FF37;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: #050505;
    --background-color: #050505;
    --background-secondary: #050505;
    --background-tertiary: #050505;
    --background-accent: #A23448;
    --background-floating: #050505;
    --background-modifier-hover: #1d1c1c;
    --background-modifier-active: #222020;
    --background-modifier-selected: #363636;
    --background-modifier-accent: #141414;
    --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
    --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --channeltextarea-background: #050505;
    --activity-card-background: #050505;
    --deprecated-panel-background: #050505;
    --deprecated-card-bg: #050505;
    --deprecated-card-editable-bg: #050505;
    --deprecated-store-bg: #050505;
    --deprecated-quickswitcher-input-background: #050505;
    --deprecated-quickswitcher-input-placeholder: #050505;
    --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
    --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
    --toast-background: var(--background-primary);
    --toast-header: var(--background-tertiary);
    --toast-contents: var(--background-secondary);
    --toast-border: var(--background-tertiary);
    --toast-box-shadow: rgba(0, 0, 0, .2);;
    --rs-small-spacing: 2px;
    --rs-large-spacing: 3px;
    --rs-width: 2px;
    --rs-avatar-shape: 10%;
    --rs-online-color: #43b581;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-offline-color: #636b75;
    --rs-streaming-color: #643da7;
    --rs-invisible-color: #747f8d;
}