/* discover server buttons */
.circleIconButton-jET_ig svg path{ fill: #A23448; }
.circleIconButton-jET_ig.selected-ugP_am { background-color: #00FF37; }
.circleIconButton-jET_ig.selected-ugP_am svg path{ fill: white; }
/* reactions popup */
.reactors-Blmlhw.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: #050505; }
.scroller-1-nKid.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: #050505; }
/* server boost background */
.perksModalContentWrapper-2HU6uL { background: #050505; }
/* channel creation */
.modal-2VIBV8.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y { background-color: #050505; }
.modal-2VIBV8.root-1gCeng > .footer-2gL1pp { background-color: #050505; }
/* message hover */
div.message-2qnXI6:hover { background-color: #1a1a1a; }
/* any type of confirmation box */
.theme-dark .message-2qRu38 { background-color: #050505; }
.theme-dark .root-1gCeng { background-color: #050505; }
.theme-dark .footer-2gL1pp { background-color: #050505; }
/* friends list */
.peopleColumn-29fq28 { background-color: #050505; }
/* mentions list */
.autocompleteInner-zh20B_ { background-color: #050505; }
.selectorSelected-1_M1WV { background-color: #050505; }
/* profile popouts */
.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyCenter-3D2jYp.alignCenter-1dQNNs.noWrap-3jynv6.headerTop-3C2Zn0 { background-color: #050505; }
.body-3iLsc4 { background-color: #050505; }
.footer-1fjuF6 { background-color: #050505; }
.quickMessage-2XpSaN.quickMessage-1yeL4E { background-color: #050505; }
.activityUserPopout-2yItg2.activity-11LB_k { background-color: #050505; }
/* upload popup */
.uploadModal-2ifh8j { background-color: #050505; }
.footer-3mqk7D { background-color: #050505; }


/* squared objects (thanks to Doggybootsy for helping me with squared avatars and server icons) */
foreignObject{
  mask: none;border-radius:10%;
}
.avatar-1BDn8e{border-radius:10%;}
.avatarContainer-28iYmV{border-radius:10%;}
.voiceAvatar-14IynY{border-radius:10%;}
.border-Jn5IOt{border-radius:10%;}
.wrapper-3t9DeA{border-radius:10%;}
.replyAvatar-1K9Wmr{border-radius:10%;}
.embedAuthorIcon--1zR3L{border-radius:10%;}

/* colored pings (snippets borrowed from Chromus#4761) */
.wrapper-3WhCwL {
  color: #A23448;
  background: rgba(232, 69, 69, 0.1);
}