/* reactions popup */
.reactors-Blmlhw.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: #050505; }
.scroller-1-nKid.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 { background-color: #050505; }
/* server boost background */
.perksModalContentWrapper-2HU6uL { background: #050505; }
/* channel creation */
.modal-2VIBV8.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y { background-color: #050505; }
.modal-2VIBV8.root-1gCeng > .footer-2gL1pp { background-color: #050505; }
/* any type of confirmation box */
.theme-dark .message-2qRu38 { background-color: #050505; }
.theme-dark .root-1gCeng { background-color: #050505; }
.theme-dark .footer-2gL1pp { background-color: #050505; }
/* friends list */
.peopleColumn-29fq28 { background-color: #050505; }
.section-2gLsgF { background-color: #050505; }
/* mentions list */
.autocompleteInner-zh20B_ { background-color: #050505; }
.selectorSelected-1_M1WV { background-color: #050505; }
/* profile popouts */
.theme-dark .body-3iLsc4 { background-color: #050505; }
.theme-dark .footer-1fjuF6 { background-color: #050505; }
.input-cIJ7To { background-color: #050505; }
.headerTop-3C2Zn0 { background-color: #050505; }
.activityUserPopout-2yItg2 { background-color: #050505; }
.activity-11LB_k { background-color: #050505; }
/* upload popup */
.theme-dark .footer-3mqk7D { background-color: #050505; }
.inner-3nWsbo { background-color: #050505; }
.theme-dark .uploadModal-2ifh8j { background-color: #050505; }
/* group chat backgrounds */
.videoGrid-1khsrF { background-color: #050505; } 
/* powercord updater */
:root
.powercord-toast .contents { background-color: #050505; }
.powercord-toast .contents + .buttons { background-color: #050505; }
.powercord-toast .contents .inner { background-color: #050505; }

/* squared objects (thanks to Doggybootsy for helping me with squared avatars and server icons) */
foreignObject{
  mask: none;border-radius:10%;
}
.avatar-1BDn8e{border-radius:10%;}
.avatarContainer-28iYmV{border-radius:10%;}
.voiceAvatar-14IynY{border-radius:10%;}
.border-Jn5IOt{border-radius:10%;}
.wrapper-3t9DeA{border-radius:10%;}
.replyAvatar-1K9Wmr{border-radius:10%;}
.embedAuthorIcon--1zR3L{border-radius:10%;}

/* colored pings (snippets borrowed from Chromus#4761) */
.wrapper-3WhCwL {
  color: #A23448;
  background: rgba(232, 69, 69, 0.1);
}